.about {
  width: 1200px;
  margin: 0 auto;
}
.page-title {
  display: block;
  width: 100%;
  height: 150px;
  font-size: 100px;
  line-height: 150px;
  text-indent: 0;
  color: #ff6;
  text-align: center;
  font-weight: bold;
}
.bj {
  background: url(http://www.ctma.com.cn/ctma_news/2018nianhui/baiqiang/bg_all_bq.jpg)
    no-repeat 0px 0px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}
@media screen and (max-width: 1200px) {
  .about {
    width: 100%;
    margin: auto;
  }
  .title-img {
    margin-bottom: 10px !important;
  }
  .select-line {
    padding-bottom: 10px !important;
  }
  .img-box .zixun-item h3 {
    font-size: 18px !important;
  }
  .img-box .zixun-item {
    padding: 0 !important;
    margin: 20px 0 0 0 !important;
  }
  .img-box .zixun {
    padding: 20px 0 0 14px;
  }
  .bj {
    background: url(http://www.ctma.com.cn/ctma_news/2018nianhui/baiqiang/bg_all_bq.jpg)
      no-repeat 0px 0px;
    background-size: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
  }
  .brand-item {
    margin-bottom: 10px;
  }
  .brand-item .jiang {
    width: 90% !important;
    background-size: 60%;
    height: 106px !important;
    background-size: cover !important;
  }
  .brand-item .jiang a {
    font-size: 15px !important;
  }
  .page-title {
    font-size: 30px;
    line-height: 80px;
    height: 80px;
  }
  .grid-content {
    font-size: 14px !important;
    width: 96%;
    margin: 0 auto 10px;
  }
  .brand-item .brand-title {
    font-size: 12px;
    height: 30px;
  }
  .brand-item .brand-img {
    width: 90% !important;
  }
  .img-box-title h2 {
    font-size: 12px !important;
    padding: 0 0 0 10px !important;
    border-left: 6px solid #001278 !important;
  }
}
